@font-face {
  font-family: Pixel_Title;
  src: url("../fonts/minecart-lcd/Minecart LCD.ttf");
}

.text {
    color: rgb(218, 218, 218);
}

.pix_text {
    font-family: Pixel_Title;
}

.title {
    font-size: 32px;
}

.body_text {
    font-size: 24px;
}

#hand_animation {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -80%);
}

    .blank_link:link {
        text-decoration: none;
    }
    .blank_link:visited {
        text-decoration: none;
    }

        #door_links {
            position: fixed;
            display: flex;
            justify-content: space-evenly;
            top: 15%;
            height: 20%;
            width: 100%;
        }

                .link_title {
                    font-size: 32px;
                    text-align: right;
                    margin: -20px;
                }

.summ_container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

    .square_img_cont {
        width: 136px;
        height: 136px;
        overflow: hidden; 
    }

        .square_img {
            height: 136px;
            justify-content: right;
        }

        .fade_img {
            opacity: 0;
            transition: opacity .4s ease-in-out;
            transform: translate(0%, 20%);
        }

        .fade_img.visible {
            opacity: 1;
        }

    .point_left {
        margin-right: 10px;
        display: flex;
        justify-content: flex-end;
    }

    .summ_body {
        display: inline-flex;
        justify-content: space-between;
        width: 800px;
        overflow: hidden;
    }

        .proj_text {
            width:80%;
        }

            .proj_bio {
                font-size: 16px;
                text-align: justify;
                margin-top: 8px;
            }

    .point_right {
        margin-left: 10px;
        display: flex;
        justify-content: flex-start;
    }

.pixImg {
    /* Prevent anti-alaising for intentionally pixelated images */
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}