@font-face {
  font-family: Pixel_Title;
  src: url("../fonts/minecart-lcd/Minecart LCD.ttf");
}

.text {
    color: rgb(218, 218, 218);
}

.pix_text {
    font-family: Pixel_Title;
}

.title {
    font-size: 32px;
}

.body_text {
    font-size: 24px;
}

#hand_animation {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -80%);
}

    .blank_link:link {
        text-decoration: none;
    }
    .blank_link:visited {
        text-decoration: none;
    }

        #door_links {
            position: fixed;
            display: flex;
            justify-content: space-evenly;
            top: 15%;
            height: 20%;
            width: 100%;
        }

                .link_title {
                    font-size: 32px;
                    text-align: right;
                    margin: -20px;
                }

.pixImg {
    /* Prevent anti-alaising for intentionally pixelated images */
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}