@font-face {
  font-family: Pixel_Title;
  src: url("C:/Users/Oliver/Documents/Personal Website/src/fonts/minecart-lcd/Minecart LCD.ttf");
}

#hand_animation {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -80%);
}

    #door_links {
        position: fixed;
        display: flex;
        justify-content: space-evenly;
        top: 15%;
        height: 20%;
        width: 100%;
    }

            .link_title {
                color: rgb(218, 218, 218);
                font-family: Pixel_Title;
                font-size: 32px;
                text-align: right;
                margin: -20px;
            }

.pixImg {
    /* Prevent anti-alaising for intentionally pixelated images */
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}